<div  class="container p-4">
    <p class="h3 text-center">
        LA SUSCRITA COORDINADORA DE TALENTO HUMANA DE LA FUNDACIÓN ESCUELA 
        TECNOLÓGICA DE NEIVA “JESÚS OVIEDO PÉREZ” – FET
    </p><br><br><br>
    <p class="text-center">
        CERTIFICA QUE:
    </p><br><br>
    <p class="lead">
          
        La señor(a) {{#each texto}} {{nombres}}   identificado con cédula de ciudadanía No. {{CC}} expedida en Neiva, labora en la 
        Fundación Escuela Tecnológica de Neiva “Jesús Oviedo Pérez” - FET, mediante contrato individual de 
        trabajo a término fijo {{contratoindividual}} desde el día {{fecha_inicio}}, desempeñando el cargo de
        {{labor}} {{Tipo_Contrato}}, devengando un salario básico mensual de {{salarioenletras}} PESOS MCTE. ${{salario}}. {{/each}}
    </p><br><br>
    <p class="lead">
         La presente Certificación se expide a solicitud de la interesada el dia ({{fecha_numero}}) {{fecha}}  {{fecha_anio}}
    </p>
    <p class="lead">
        Cordialmente:
    </p><br><br><br><br><br><br><br><br><br><br><br>


     <img src="/img/img_pdf/firma.png" class="card-img-top" alt="..." style="width: 10rem;">
    <p class="">
    ______________________________________________________________    
    </p> 
    <p class="lead">
        MARÍA FERNANDA VALENZUELA PÉREZ        
    </p>
    <p class="lead">
        Coordinadora Gestión Humana
    </p>
    <p class="lead">
        gestionhumana@fet.edu.co
    </p><br><br><br><br><br><br><br><br><br><br><br>
</div>
