<div class="container p-4">
    <div class="p-3 mb-2 bg-secondary text-white" style="--bs-bg-opacity: 0.9;">
    <p class="text-start"><a href="/user_profile" class="btn btn-success">Volver</a></p>    
    <div class="table-responsive-sm">
         <table class="table text-white">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre Completo</th>
              <th scope="col">Programa</th>
              <th scope="col">Nivel Academico</th>
              <th scope="col">Salario</th>
              <th scope="col">Labor</th>
              <th scope="col">Contrato individual</th>
              <th scope="col">Inicio de contrato</th>
              <th scope="col">Fin de contrato</th>
              <th scope="col">Modificar</th>
              <th scope="col">  Eliminar</th>
            </tr>
                  </thead>
          <tbody>
            {{#each teacher_list}}
            <tr>
              <th scope="row">{{id_Docentes}}</th>
              <td>{{nombres}}</td>
              <td>{{CC}}</td>
              <td>{{programa}}</td>
              <td>{{salario}}</td>
              <td>{{labor}}</td>
              <td>{{contratoindividual}}</td>
              <td>{{fecha_inicio}}</td>
              <td>{{fecha_final}}</td>
              <td>
                <!-- Button Update modal -->
                  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modificardocente{{id_Docentes}}">
                    Modificar
                  </button>
        
                  <!--Update Modal -->
                  <div class="modal fade" id="modificardocente{{id_Docentes}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content bg-success text-white" style="--bs-bg-opacity: 0.9;">
        
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modificar dato</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
        
                        <div class="modal-body">                                            
                          <div class="card">
                            <div class="card-body  bg-success text-white" style="--bs-bg-opacity: 0.9;">
                              <div class="card text-center bg-success text-white" style="--bs-bg-opacity: 0.9;">
                                <form action="/docente/modificar_docentes/{{id_Docentes}}" method="post"  class="row g-3">
                                  <label for="exampleFormControlInput1" class="form-label">Periodo A</label>
                                  <div class="col-md-4">
                                    <label for="validationDefault01" class="form-label">nombre completo {{nombres}}</label>
                                    <input type="text" class="form-control" name="nombres" placeholder="nombre" style="text-transform:uppercase" autofocus required/>
                                  </div>
                                  <div class="col-md-4">
                                    <label class="form-label">correo institucional</label>
                                    <input type="email" class="form-control" value={{correo_electronico}} name="correo_electronico" placeholder="ejemplo@fet.edu.co"  required/>
                                 </div>
                                 <div class="col-md-4">
                                   <label class="form-label">identificacion</label>
                                   <input type="number" class="form-control" value={{CC}} name="CC" required/>
                                 </div>
                                 <div class="col-md-4">
                                     <label class="form-label">Ciudad Expedicion</label>
                                     <input type="Text" class="form-control" value={{ciudad_exp}} name="ciudad_exp" required/>
                                 </div>
                                 <div class="col-md-4">
                                   <label class="form-label">Deparamento Expedicion</label>
                                   <input type="Text" class="form-control" value={{departamento_exp}} name="departamento_exp" placeholder="Huila"  required/>
                                 </div>
                                 <div class="col-md-4">
                                   <label>Programa {{programa}}</label><br>
                                   <select name="id_programa" class="btn btn-secondary ">
                                      <option value="1" selected>Seguridad Ocupacional</option> 
                                      <option value="2" selected>Ingenieria de Alimentos</option> 
                                      <option value="3" selected>Ingenieria de Software</option> 
                                      <option value="4" selected>Ingenieria Electrica</option> 
                                      <option value="5" selected>Ingenieria Ambiental</option> 
                                   </select> 
                                 </div>
                                  
                                  <div class="col-md-4">                    
                                    <label>Nivel academico: {{Academico}}</label><br>
                                    <select name="id_Nivel_Aca" class="btn btn-secondary">
                                    <option value="1">Pregrado</option> 
                                    <option value="2">Especializacion</option> 
                                    <option value="3">Magister</option> 
                                    <option value="4">Doctorado</option> 
                                    </select>  
                                    <br><br>                          
                                  </div>
        
                                  <div class="col-md-4">                    
                                    <label>Contrato: {{Tipo_Contrato}}</label><br>
                                    <select name="id_Contrato" class="btn btn-secondary">
                                    <option value="1">Tiempo Completo</option> 
                                    <option value="2">Medio Tiempo</option>                            
                                    </select>   
                                    <br><br>                          
                                  </div>
        
                                  
                                  <div class="col-md-4">                    
                                    <label>Labor: {{labor}}</label><br>
                                    <select name="id_labor" class="btn btn-secondary ">
                                    <option value="1">Docente</option> 
                                    <option value="2">Investigador</option> 
                                    <option value="3">Externo</option> 
                                    <option value="4">Administrativo</option> 
                                    </select>   
                                    <br><br>                          
                                  </div>
                                    
                                 <div class="col-md-4">
                                    <label class="form-label">Contrato individual: {{contratoindividual}}</label>
                                    <input type="text" class="form-control" name="contratoindividual" required/>
                                  </div>  
                                    
                                  <div class="col-md-4">
                                    <label class="form-label">Fecha inicio:</label>
                                    <input type="date" class="form-control" name="fecha_inicio" required/>
                                  </div>
        
                                  <div class="col-md-4">
                                    <label class="form-label">Fecha fin:</label>
                                    <input type="date" class="form-control" name="fecha_final" required/>
                                  </div>
                                  
                                  <div class="col-md-4">
                                    <label class="form-label">Salario</label>
                                    <input type="number" class="form-control" value={{salario}} name="salario" required/>
                                    <input type="hidden" class="form-control" name="salarioenletras" required/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Horas Semanales</label>
                                     <input type="number" class="form-control" name="horassemanales" placeholder="#horas semanales"  required/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Dedicacion Docente</label>
                                     <input type="number" class="form-control" name="dedicaciondocente" placeholder="#horas para docente"  required/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Dedicacion investigacion</label>
                                     <input type="number" class="form-control" name="dedicacioninvestigacion" placeholder="#horas para investigacion"  required/>
                                     <input type="hidden" class="form-control" name="horassemestre" required/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 1</label>
                                     <input type="text" class="form-control" name="curso1" placeholder="curso 1"  required/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 2</label>
                                     <input type="text" class="form-control" name="curso2" placeholder="curso 2"  required/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 3</label>
                                     <input type="text" class="form-control" name="curso3" placeholder="curso 3"  required/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 4</label>
                                     <input type="text" class="form-control" name="curso4" placeholder="curso 4"  required/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 5</label>
                                     <input type="text" class="form-control" name="curso5" placeholder="curso 5"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 6</label>
                                     <input type="text" class="form-control" name="curso6" placeholder="curso 6"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 7</label>
                                     <input type="text" class="form-control" name="curso7" placeholder="curso 7"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 8</label>
                                     <input type="text" class="form-control" name="curso8" placeholder="curso 8"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 9</label>
                                     <input type="text" class="form-control" name="curso9" placeholder="curso 9"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 10</label>
                                     <input type="text" class="form-control" name="curso10" placeholder="curso 10"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 11</label>
                                     <input type="text" class="form-control" name="curso11" placeholder="curso 11"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 12</label>
                                     <input type="text" class="form-control" name="curso12" placeholder="curso 12"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 13</label>
                                     <input type="text" class="form-control" name="curso13" placeholder="curso 13"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 14</label>
                                     <input type="text" class="form-control" name="curso14" placeholder="curso 14"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 15</label>
                                     <input type="text" class="form-control" name="curso15" placeholder="curso 15" />
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 16</label>
                                     <input type="text" class="form-control" name="curso16" placeholder="curso 16"/>
                                  </div>
                                  
                                  <label for="exampleFormControlInput1" class="form-label">Periodo B</label>
                                  <div class="col-md-4">
                                     <label class="form-label">Horas Semanales</label>
                                     <input type="number" class="form-control" name="horassemanalesB" placeholder="#horas semanales"  required/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Dedicacion Docente</label>
                                     <input type="number" class="form-control" name="dedicaciondocenteB" placeholder="#horas para docente"  required/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Dedicacion Investigacion</label>
                                     <input type="number" class="form-control" name="dedicacioninvestigacionB" placeholder="#horas para docente"  required/>
                                      <input type="hidden" class="form-control" name="horassemestreB" required/>
                                  </div>
                                  <div class="col-md-4">
                                    <label class="form-label">Fecha de inicio</label>
                                    <input type="date" class="form-control" name="fecha_inicioB"  min="2022-08-01" max="2022-12-31"  required/>
                                  </div>
                                  <div class="col-md-4">
                                    <label class="form-label">Fecha final</label>
                                    <input type="date" class="form-control" name="fecha_finalB"  min="2022-08-01" max="2022-12-31"  required/> 
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Numero de comtrato laboral</label>
                                     <input type="text" class="form-control" name="contratolaboralB" placeholder="CT XXXXXX"  required/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 1</label>
                                     <input type="text" class="form-control" name="curso1B" placeholder="curso 1"  required/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 2</label>
                                     <input type="text" class="form-control" name="curso2B" placeholder="curso 2"  required/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 3</label>
                                     <input type="text" class="form-control" name="curso3B" placeholder="curso 3"  required/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 4</label>
                                     <input type="text" class="form-control" name="curso4B" placeholder="curso 4"  required/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 5</label>
                                     <input type="text" class="form-control" name="curso5B" placeholder="curso 5"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 6</label>
                                     <input type="text" class="form-control" name="curso6B" placeholder="curso 6"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 7</label>
                                     <input type="text" class="form-control" name="curso7B" placeholder="curso 7"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 8</label>
                                     <input type="text" class="form-control" name="curso8B" placeholder="curso 8"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 9</label>
                                     <input type="text" class="form-control" name="curso9B" placeholder="curso 9"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 10</label>
                                     <input type="text" class="form-control" name="curso10B" placeholder="curso 10"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 11</label>
                                     <input type="text" class="form-control" name="curso11B" placeholder="curso 11"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 12</label>
                                     <input type="text" class="form-control" name="curso12B" placeholder="curso 12"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 13</label>
                                     <input type="text" class="form-control" name="curso13B" placeholder="curso 13"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 14</label>
                                     <input type="text" class="form-control" name="curso14B" placeholder="curso 14"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 15</label>
                                     <input type="text" class="form-control" name="curso15B" placeholder="curso 15"/>
                                  </div>
                                  <div class="col-md-4">
                                     <label class="form-label">Curso 16</label>
                                     <input type="text" class="form-control" name="curso16B" placeholder="curso 16"/>
                                  </div>
                                                                                      
                                </div>
                               </div>
                             </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                          <button type="submit" class="btn btn-primary">Modificar</button>
                          </form>
                        </div>
        
                      </div>
                    </div>
                  </div>
              </td>   
              <td>
                 
                  <!-- Delete Button modal -->
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteemployed{{id_Docentes}}">
                    Eliminar
                  </button>
        
                  <!--Delete Modal -->
                  <div class="modal fade" id="deleteemployed{{id_Docentes}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content bg-success text-white" style="--bs-bg-opacity: 0.9;">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Eliminar dato</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          está seguro de quitar de la lista a  {{nombres}}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                          <a class="btn btn-danger" href="/docente/eliminar_docentes/{{id_Docentes}}" role="button">Eliminar</a>
                        </div>
                      </div>
                    </div>
                  </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>  
      </div>
    </div>
 </div>
